<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.databasedemo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ProfilePictureFromFirebaseStorage"></activity>
        <activity android:name=".TakeProfilePicture" />
        <activity android:name=".DriverEndAndPay" />
        <activity android:name=".RiderEndAndPay" />
        <activity android:name=".RiderConfirmPickup" />
        <activity android:name=".DriverConfirmActivity" /> <!-- if you have theme problems change the line above -->
        <activity android:name=".moneyScreen" /> <!-- if you have theme problems change the line above -->
        <activity android:name=".currentRequest" />
        <activity android:name=".RiderNewRequestActivity" />
        <activity android:name=".RiderDriverInitialActivity" />
        <activity android:name=".GenerateQR" />
        <activity android:name=".DriverScannerActivity" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="@string/create_account_name" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/sign_in_name" />
        <activity
            android:name=".EditContactInformationActivity"
            android:label="Edit Account" />
        <activity
            android:name=".QRCodeGenerator"
            android:label="QR Code Generator" />
        <activity
            android:name=".DriverRideInfoActivity"
            android:label="Ride Confirmation" />
        <activity
            android:name=".DisplayUserInfoActivity"
            android:label="User Information" />
    </application>

</manifest>